body{
    font-family:Arial,Helvetica,sans-serif
}
div{
    padding:3px;
    padding-right:5px
}
.btn{
    background-color:#4fa9f8;
    border:none;
    color:white;
    padding:5px 5px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
    border-radius:10%
}
.btn-secondary{
    background-color:#e3e5e6;
    border:none;
    color:rgb(2,2,2);
    padding:5px 5px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
    border-radius:10%
}
textarea{
    border:solid 1px #4fa9f8;
    font-size:20px
}
.hidden{
    display:none
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden
}
li{
    float:left;
    display:block;
    line-height:15pt;
    background-color:whitesmoke;
    color:gray;
    margin:5px;
    padding:5px;
    border-radius:10%
}
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    .img-responsive {
        max-width: 60%;
        height: 300px;
    }    
}